<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Hai i am in login page...welcome</h1>

    <h3>Hello <%= data.name %>!!Please login</h3>
    Email:<input type="text" name="email"><br>
    <br>
    password:<input type="password" name="password"><br><br>
    <input type="submit" name="submit">
</body>
</html>